DerivedData
project.xcworkspace
*.iml
#commented on 02/28/2024
#*.xcworkspace/
*~
.DS_Store
.github/
.gradle/
.idea/
.metadata/
.settings/
Podfile.lock
Pods/
bin/
bower_components/
build/
coverage.em
coverage/
instrumentation/
junit-reports/
local.properties
node_modules/
#commented on 02/28/2024
#mobile_sdk/
proguard-project.txt
xcuserdata
package-lock.json
