<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9HB6vm3GZZR8OQjMd13BuKuLMfgqWvzbBHT8iQyubzyH9Mjlfzb4hEak2OlaOlXeUoD6o1Pz5bSxeig_l</string>
	<key>oauthRedirectURI</key>
	<string>sfdc://mobilesdk/oauth/_callback</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
		<string>refresh_token</string>
		<string>offline_access</string>
		<string>id</string>
		<string>profile</string>
		<string>email</string>
		<string>address</string>
		<string>phone</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
